# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.unity.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\astri\Documents\GitHub\volsample\src\unity\.idea\.idea.unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
